/*
    Yo creo en muchas cosas que no he visto, y ustedes también, lo sé
    No se puede negar la existencia de algo palpado, por más etéreo que sea
    No hace falta exhibir una prueba de decencia, de aquello que es tan verdadero
    El único gesto es, creer, o no
    Algunas veces, hasta creer llorando
    Se trata de un tema incompleto porque le falta respuesta
    Respuesta, que alguno de ustedes, quizás, le pueda dar...
*/

/**************************************** GLOBALES ****************************************/

:root {
    /* Paleta de colores del proyecto: */
    --verdeOscuro: #12503C;
    --verdeIntermedio: #498C5A;
    --verdeClaro: #CBF2AE;
    --beige: #F2E9CE;
    --fondo1: #438B5A;
    --fondo2: #48905F;
    /* Alertas: */    
    --alertaPositivaFondo: #D4EDDA; /* Positivas / VERDES */
    --alertaPositivaTexto: #155724;
    --alertaPositivaBorde: #C3E6CB;
    --alertaNegativaFondo: #F8D7DA; /* Negativas / ROJAS */
    --alertaNegativaTexto: #721C24;
    --alertaNegativaBorde: #F5C6CB;
    --alertaPrecaucionFondo: #FFF3CD; /* Advertencias / AMARILLAS */
    --alertaPrecaucionTexto: #856404;
    --alertaPrecaucionBorde: #FFEEBA;
    /* Colores transversales: */
    --blancoPuro: white;
    --negroPuro: black;
    /* Tipografías: */
    --tipografiaPrincipal: "Rubik", sans-serif;
    /* Botones deshabilitados: */
    --grisClaro: #E5E5E5;    /* Fondo suave, casi beige */
    --grisMedio: #C4C4C4;    /* Texto o borde del botón inactivo */
    --grisOscuro: #9B9B9B;   /* Para más de contraste */
}

* {
    margin: 0;
    padding: 0;
} /* Reset de valores a cero para márgenes y padding. */

html {
    /* Estandarización de tamaños. Pt. 1: */
    box-sizing: border-box;
    font-size: 62.5%;
    /* Resto de parámetros: */
    background-image: repeating-linear-gradient(
        to bottom,
        var(--fondo1) 0 60px,
        var(--fondo2) 61px 120px
    );    
}

*,*:before, :after {
    box-sizing: inherit;
} /* Estandarización de tamaños. Pt. 2. */

body {
    font-size: 16px; /* Estandarización de tamaños. Pt. 3. */
    font-family: var(--tipografiaPrincipal);
    min-height: 100vh; /* Con esto solucionamos la inconsistencia en el "rayado" de fondo. */
}

/**************************************** INDEX HTML ****************************************/

.ventana-aplicacion,
.main,
.formulario-login {    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.ventana-aplicacion {
    margin: 0 auto;
    width: 80rem; 
    margin-top: 2rem;
}

.ventana-aplicacion,
.ventana-convocatoria {
    border-radius: .5rem;
    border-style: solid;
    border-width: .5rem;    
    outline: .5rem solid var(--negroPuro);
    border-color: var(--verdeClaro);    
}

.formulario-login {
    padding: 0;
}

.header,
.pie-cabeza-ventana-convocatoria {
    background-color: var(--verdeOscuro);
    width: 100%;
    display: flex;
    justify-content: center;
}

.header h1 {
    color: var(--beige);
    margin: 4rem 0;
}

.main {
    background-color: var(--beige);
    width: 100%;  
}

.main h2 {
    color: var(--verdeOscuro);
    margin: 2rem;
}

h1, h2 {
    text-transform: uppercase;
}

.formulario-login {
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonera {
    background-color: var(--verdeOscuro);
    width: 100%;
    min-height: 12.5rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton {
    background-color: var(--verdeOscuro);
    border-radius: .5rem;
    border: .4rem solid var(--verdeClaro);
    outline: .2rem solid var(--negroPuro);
    padding: 1.5rem 2rem;
    width: auto;
    color: var(--beige);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 3rem;    
}
.boton-disabled  {
    background-color: var(--grisOscuro);
    border-radius: .5rem;
    border: .4rem solid var(--verdeClaro);
    outline: .2rem solid var(--negroPuro);
    padding: 1.5rem 2rem;
    width: auto;
    color: var(--beige);
    text-transform: uppercase;
    font-weight: bold;
    cursor: default;
    margin: 3rem;    
}

.reset {
    background-color: var(--alertaNegativaFondo);
    color: var(--verdeOscuro);
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    gap: 1rem;
}

.combos-campos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.label {
    color: var(--verdeOscuro);
    padding-bottom: .5rem;
}

.input {
    width: 100%;
    height: 4rem;
    color: var(--verdeOscuro);   
    border: .5rem solid var(--verdeIntermedio);
    outline: .3rem solid var(--negroPuro);
    border-radius: .5rem;
    padding: .5rem;
}

.label::after {
    content: " *";
    color: var(--alertaNegativaTexto);
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer p {
    margin-top: 1.5rem;
    color: var(--beige);
}

/**************************************** HOME PHP ****************************************/


.ventana-convocatoria {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.ventana-convocatoria-activa,
.formulario-convocatoria-activa {
    display: flex;
    flex-direction: column;
}

.ventana-convocatoria-activa {
    width: 80%;
    border-radius: ;
    border-style: solid;
    border-width: ;

}
/* Me quedé acá el 19-02-2026. Hay que terminar ésto. */

.titulo-convocatoria {
    color: var(--beige) !important; 
}

.formulario-convocatoria {
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.campos-convocatoria,
.campos-alta-jugador,
.campos-alta-usuario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.info-proximo-partido {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: .5rem;
    border-style: solid;
    border-width: .5rem;
    width: 100%;
}

.info-encabezado {
    background-color: var(--verdeOscuro);
    color: var(--beige);
    width: 25%;
    height: 5rem;
    align-items: center;
    top: 50%;
}

.botonera-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.botones-home {
    /* Todos los parámetros básicos los hereda de .boton */
    background-color: var(--verdeOscuro);
    border-radius: .5rem;
    border: .4rem solid var(--verdeClaro);
    outline: .2rem solid var(--negroPuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--verdeOscuro);
    max-width: 25%;
}

.botones-home span {
    color: var(--beige);
}

.boton img {
    max-width: 6rem;
}

.popUp-convocatoria {
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 2rem;
    background-color: var(--beige); 
}

.grilla-jugadores-convocados,
.grilla-jugadores-out {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: .5rem;
    border-style: solid;
    border-width: .5rem;
    background-color: var(--verdeOscuro);
    gap: .3rem;
}

.invitar-amigo {
    display: flex;
    flex-direction: column;
}

.invitar-amigo input {
    margin-bottom: 2rem;
}

.boton-invitar-amigo,
.cancelar-invitar-amigo {
    margin: 1.5rem;
}

.cancelar-invitar-amigo {
    background-color: var(--alertaNegativaFondo);
    color: var(--verdeOscuro);
}

.nombre-pos-grilla-convocados,
.nombre-pos-grilla-out {
    display: flex;
    flex-direction: row;
    background-color: var(--beige);
    gap: 1rem;
    padding: 1rem;    
    justify-content: center;
    align-items: center;
}

.cabezal {
    background-color: #12503C;
    color: var(--beige);
    border-color: var(--beige);
}

.posicion-grilla {    
    color: var(--beige);
    text-transform: uppercase;
    border-radius: .5rem;
    border-style: solid;
    border-width: .2rem;
    padding: .2rem;    
}

.color-por {
    background-color: var(--verdeOscuro);
}
.color-def {
    background-color: var(--alertaNegativaTexto);
}
.color-med {
    background-color: var(--alertaPrecaucionTexto);
}
.color-del {
    background-color: var(--negroPuro);
}

.grilla-goles {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.grilla-goles-marcador {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.goles {
    width: 10rem !important;
    height: 10rem !important;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}


/**************************************** Tarjetas ****************************************/

.seccion-tarjetas-jugadores {
    display: grid;
    width: 80rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.tarjetas {
    background-image: url(/img/fondo_tarjetas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 30rem;
    height: 45rem;
    position: relative;
    overflow: hidden;
}

.tarjetas h2, 
.tarjetas h3 {
    color: var(--beige);
    margin: 0;
    padding: 0;
}

.valoracion {
    position: absolute;
    top: 110px;
    left: 55px;
    font-size: 40px;
}

.posicion {
    position: absolute;
    top: 150px;
    left: 55px;
    font-size: 24px;
}

.avatar-jugador-tarjeta {
    position: absolute;
    top: 85px;
    left: 85px;
    font-size: 24px;
    width: 16rem;
}

/* Para Gato (luego borramos): */

.gato-nombre {
    position: absolute;
    top: 260px;
    left: 100px;    
    font-size: 25px;
}

.gato-avatar {
    position: absolute;
    top: 90px;
    left: 90px;
    font-size: 24px;
    width: 16rem;
}

.nombre-jugador {
    position: absolute;
    top: 265px;
    left: 62.5px;    
    font-size: 25px;
}


.dato_1 {
    position: absolute;
    top: 300px;
    left: 60px;
    font-size: 20px;
}

.dato_2 {
    position: absolute;
    top: 325px;
    left: 60px;
    font-size: 20px;
}

.dato_3 {
    position: absolute;
    top: 300px;
    left: 165px;
    font-size: 20px;
}

.dato_4 {
    position: absolute;
    top: 325px;
    left: 165px;
    font-size: 20px;
}

/**************************************** Mostrar - Ocultar ****************************************/

.visible {
    display: flex;
}

.visible-grid {
    display: grid;
}

.oculto {
    display: none;
}